/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}

/* header styles */
.heading{
    width: 1440px;
    height: 677px;
    background-color:  #2D25A0;
    left: 0px;
    top: 0px;
    position: absolute;  
    
}

/*  
 .headline{ 
    display: flex; 
    flex-direction: row; 
    align-items: center;  
 } */

.title{
    font-size: 64px;
    display:inline; 
    font-weight: bold;
    position: absolute;  
    width: 485px;
    height: 230px;
    left: 156px;
    top: 207px;
    right: 102px;
    
}


.headline img{
    width: 556.01px;
    height: 438px;
    /* left: 1299px; */
    top: 153px;
    right: 140.99px;
     position: absolute;  
}

.watch{
    background: #E02C6D;
    color: white;
    width: 168px;
    height: 44px;
    margin-left: 156px;
    margin-top: 464px;
    font-weight: 500;
    font-size: 16px;
}

.watch:hover{
    background-color: blue;
}

.login{
    background: #E02C6D;
    color: white;
    width: 168px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 1037px;
    margin-top: 42px;
}

button i{
    padding-right: 8px;
}

/* players info  */
.container{
    margin-top: 747px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-column-gap:30px; */
    margin-left:180px;
    background-color: white;
    /* margin-bottom: 30px; */
}

.player{
    width: 330px;
    height: 474px;
    margin-bottom: 50px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.player img{
    width: 300px;
    height: 256px;
    margin-right: 30px;
}

.player-info p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    justify-content:space-between;
    color:  #6C6C6C;
    margin: 10px 0px;

}

/* highlights info styles */
.highlight-info{
    /*position: absolute;*/
    width: 469px;
    height: 309px;
    margin-left: 182px;
    margin-bottom: 217px;
    
}
.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:66px;
}

.highlight-info h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
}

.higlight-image img{
    width: 567px;
    height: 427px;

}

.watch-highlights{
    background: #E02C6D;
    color: white;
    width: 168px;
    height: 44px;
    
    
}

/* footer styles  */
.football{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 483.87px;
    height: 213px;
    margin-left: 475px;
    margin-right: 481px;
    margin-bottom: 63px;
}
.football img{
    width: 483.87px;
    height: 110px;
    position: static;
}

.social{
    
    width: 170px;
    height: 32px;
    
}

.social img{
     
    width: 17.07px;
    height: 17.07px;
    
    position: static;
    left: 991.94px;
}

/* media query */
@media only screen and (max-width:688px) {
    .heading{
       width: 100%;
        
        position: absolute;  
        
    }
    .title{
        /* width: 100%; */
        font-size: 36px;
        font-weight: bold;
        position: absolute;
        width: 278px;
        height: 138px; 
        left: 16px;
        top: 112px;
        
        
    }

    .headline img{
        position: absolute;
        width: 329px;
        height: 259.17px;
        left: 44px;
        top: 374px;

 
    }

    
    .watch{
        background: #E02C6D;
        color: white;
        width: 168px;
        height: 44px;
        margin-top: 210px;
        margin-left: 15px;
        position: absolute;
    }

    .login{
        background: #E02C6D;
        color: white;
        width: 168px;
        height: 44px;
        margin-top: 50px;
        margin-left: 380px;

    }

    .container{
        width: 100%;
    }

    .players{
        
        grid-template-columns: repeat(1,1fr);
        margin-left: 90px;

    }

    .highlight-info{
        width: 329px;
        height: 299px;
        margin-left: 20px;
        margin-right: 10px;
        text-align: justify;
    }
    
    .highlights{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0px;

    }

    .higlight-image{
        width: 208px;
        height: 108px;
        left: 16px;
        margin-top: 100px;
    }

    .football{
        width: 70.8px;
        height: 29.98px;
        left: 16.2px;
        margin-top: 500px; 
        margin-left: 170px;
    }

    .ball{
        width: 200px;
        height: 200px;
    } 

    


}